:root{
--bg:#f4f6fb;
--card:#ffffff;
--text:#111;
--accent:#4CAF50;
}

.dark{
--bg:#121212;
--card:#1e1e1e;
--text:#eee;
}

body{
background:var(--bg);
color:var(--text);
font-family:Segoe UI;
margin:0;
}

nav{
background:var(--accent);
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

a{color:white;margin:0 10px;text-decoration:none}

.container{padding:30px}

.card{
background:var(--card);
padding:20px;
border-radius:12px;
margin-bottom:15px;
box-shadow:0 0 10px rgba(0,0,0,0.1)
}

/* INPUTS */
input,select,textarea{
width:100%;
padding:12px;
border-radius:8px;
border:none;
margin-bottom:10px;
background:#eee;
}

button{
background:var(--accent);
color:white;
padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
}

.progress{
background:#ddd;
border-radius:20px;
overflow:hidden;
height:20px;
}

.progress-bar{
background:var(--accent);
height:100%;
}
